# dependencies
node_modules/

# Next.js
.next/
out/

# production
build/

# env
.env
.env.local
.env.*.local

# Drizzle
db/migrations/

# Local data store
db/data.json

# TypeScript
tsconfig.tsbuildinfo

# OS
.DS_Store

# Vercel
.vercel
